<header id="app-header">
    <section id="sect-header-main">
        <h1 id="title-app-name">Order Manager</h1>
    </section>
    <section id="sect-navigation">
        <nav id="resources-nav">
            <ul>
                <li>
                    <a routerLink="" routerLinkActive="active">Início</a>
                </li>
                <li>
                    <a routerLink="orders" routerLinkActive="active">Pedidos</a>
                </li>
                <li>
                    <a routerLink="products" routerLinkActive="active">Produtos</a>
                </li>
                <li>
                    <a routerLink="clients" routerLinkActive="active">Clientes</a>
                </li>
                <li>
                    <a routerLink="freight-carriers" routerLinkActive="active">Empresas</a>
                </li>
            </ul>
        </nav>
    </section>
</header>